html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
}
html {
    color: #333;
}
.clearfix:after,.clearfix:before{content:'';display:block;clear:both;}.clearfix{zoom:1;}
body {
    font-size: 16px;
    color: #333;
}
.main {
    width: 1200px;
    margin: 0 auto;
}





.playing-match,
.foot-partner ul,
.match .details .left-box .teams p,
.foot-top .main,
.details .odds ul,
.page .title h2 p,
#luxy,
.match .details .teams p,
.goverment ,
.goverment li,
.live-area,
.live-area .live-icon,
.foot-partner,
.btnnum ul,
.hot-games .right li i,
.hot-games .right ul,
.details .odds,
.best-service .bottom li,
.btn-group,
button,
.news,
.best-service ul,
.hot-games .box,
.ercode-box,
.app-detail,
.match .details,
.match .teams,
.partner-list,
.page .title span,
.page .title .top,
.header .nav,
.header .main,
.header .user-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*align-items: center;*/
}


.page .title h2 p,
.match .details .teams p,
.foot-partner,
.hot-games .right li i,
.hot-games .right ul,
.best-service .bottom li,
.match .details .teams,
.btn-group,
button,
.news,
.header .main,
.best-service ul,
.title .top,
.header .user-info {
    align-items: center;    
}

.details .odds a:before,
.btn-group button {
    width: 140px;
    height: 50px;
    line-height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: #434a63;
    background:  url('../images/button-normal-140.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    justify-content: center;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
}
.btn-group button:last-child {
    margin-right: 0;
}

.btn-group button.active {
    color: #fff;
}
.details .odds a:before,
.btn-group button.active {
    background:  url('../images/button-active-140.png') no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.app-download .btn-group button:before,
.hot-live .btn-group button:before {
    content: '';
    display: block;
    box-shadow: 0 4px 12px 0 #dbe7ff;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.app-download .btn-group button.active:before,
.hot-live .btn-group button.active:before {
    box-shadow: 0 4px 12px 0 #ffe4c8;
}
.btn-group button .ico {
    width: 40px;
    height: 40px;   
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 14px;
}
.btn-group button .ico,
.btn-group button label {
    cursor: pointer;
    position: relative;
    z-index: 2; 
}
.hot-games .btn-group button .ico {
    width: 50px!important;
    height: 50px!important;
    margin: 5px 10px 0 0!important;
}
.btn-group {
    justify-content: flex-end;
}

/*按钮*/
.btn-group .active .ico {
    animation: zoonInBtn .35s ease-out;
}

/*button.active .ico {
    width: 44px;
    height: 44px;
    margin-right: 4px;
    position: relative;
    top: 4px;
    background-position: -486px 0px;
}*/


.float-right {
    position: absolute;
    z-index: 9;
    top: 150px;
    right: 0;
    margin-top: -81px;
}
.float-right li {
    width: 54px;
    height: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(0);
    transition: all 0.9s ease 0s;
}
.float-right li i {
    width: 54px;
    height: 54px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
 
.float-right li:nth-child(1) i {
    background-image: url(../images/ico-help.png);
}
.float-right li:nth-child(2) i {
    background-image: url(../images/ico-kefu.png);
}
.float-right li:nth-child(3) i {
    background-image: url(../images/ico-app.png);
}
.float-right li:nth-child(1):hover i {
    background-image: url(../images/ico-help-active.png);
}
.float-right li:nth-child(2):hover i {
    background-image: url(../images/ico-kefu-active.png);
}
.float-right li:nth-child(3):hover i {
    background-image: url(../images/ico-app-active.png);
}
.backTop {
    width: 54px;
    height: 54px;
    background-image: url(../images/ico-toTop.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 10%;
    right: 0;
    z-index: 999;
    cursor: pointer;
    transform: translateX(0);
    transition: all 2s ease 0s;
}
.backTop:hover {
    background-image: url(../images/ico-toTop-active.png);
    background-size: contain;
}
.float-right li .box {
    position: absolute;
    left: 100px;
    top: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    font-size: 0;
    width: 120px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    box-shadow: 0 0 8px rgba(0,0,0,.15)\9;

    -webkit-transition: opacity 0.25s, transform .3s;
    -moz-transition: opacity 0.25s, transform .3s;
    transition: opacity 0.25s, transform .3s;
    opacity: 0;
    filter: alpha(opacity=0);
    max-width: 0;
    -webkit-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    -webkit-transform-origin: 100% 5%;
    -ms-transform-origin: 100% 5%;
    transform-origin: 100% 5%;
}
.float-right li .box a {
    text-align: center;
    font-size: 14px;
    color: #e5d4c1;
    cursor: pointer;
    width: 100%;
    display: block;
    line-height: 46px;
}
.float-right li:hover > .box {
    left: -120px;
    font-size: 14px;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.float-right li .box:after {
    content: '';
    position: absolute;
    display: block;
    width: 8.48528137px;
    height: 8.48528137px;
    background: transparent;
    border-style: solid;
    border-width: 4.24264069px;
    transform: rotate(45deg);
    right: -4px;
    border-color: #fff #fff transparent transparent;
    box-shadow: 3px -3px 7px rgba(0,0,0,.07);
    top: 25px;
    transform: translateY(-50%) rotate(45deg);
}
.float-right li:last-child .box a {
    line-height: 20px;
}
.float-right li:last-child .box {
    padding-bottom: 10px;
}
.float-right li .box a div {
    display: block;
    margin: 15px auto;
}
.line {
    display: block;
    width: 76px;
    height: 1px;
    text-align: center;
    box-shadow: inset 0 -1px 0 0 rgba(211,183,151,.2);
    margin: 10px auto;
}
.wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    background-image: linear-gradient(to bottom, #ffffff 6%, #e9f0ff 106%);
}

.header .main {
    height: 82px;
    justify-content: flex-end;
}
.header .logo {
    height: 44px;
    width: 110px;
    margin-right: 20px;
}
.header .logo img {
    width: 100%;
}
.header .nav {
    height: 100%;
    justify-content: flex-start;
    margin-right: auto;
}
.header .nav li {
    cursor: pointer;
    position: relative;
}
.header .nav a {
    display: block;
    position: relative;
    width: 34px;
    margin: 0 21px;
    height: 100%;
    line-height: 84px;
    text-align: center;
    font-size: 16px;
    color: #414755;
    cursor: pointer;
    transition: all .2s ease;
}
.header .nav a:before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/icon-dropdown-small.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: -22px;
    top: 33px;
    transition: all .2s ease;
}
 
.header .nav a:after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: #b1987f;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all .2s ease;
}
.header .nav li:hover a ,
.header .nav .active a {
    color: #b1987f;
}
.header .nav li:hover a:after,
.header .nav .active a:after {
    width: 100%;
    left: 0;
}
.header .nav li:hover a:before,
.header .nav .active a:before {
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.header .user-info {
    font-size: 14px;
    color: #67718f;
}
.header a {
    font-size: 16px;
    color: #67718f;
    margin: 0 2px;
}
.header a:hover {
    color: #6aaaf5;
}
.user-info .info {
    margin-left: 12px;
}
.header .user-info p {
    margin: 2px 0;
}
.header .user-info img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #caab8b;
}
.user-info #vip{
    width: 40px;
    height: 16px;
    margin-left: 10px;
    display: inline-block;
    background: url(../images/sprite-vip.png.webp);
    background-size: 460px 16px;
    background-repeat: no-repeat;
}
.ico-user-center {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    transition: all .3s ease;   
    cursor: pointer;
    display: inline-block;
    background: url(../images/icon-default-down.png.webp);
    background-size: 100%;
    vertical-align: -5px;
}
.content {
    background: #f7f9fb url('../images/bg-home.webp');
    background-repeat: repeat;
    background-size: contain;
}
.content .page {
    margin-top: 110px;
    width: 1200px;
    margin: 0 auto;
}
#container {
  perspective: 30px;
}

#inner {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.banner {
    width: 100%;
    overflow: hidden;
    z-index: 99;
    margin: 82px auto 0;
    position: relative
}
.banner #inner {
    min-height: 860px;    
}
 .banList{
    list-style: none;
}

.banList li{
    width: 100%;
    float: left;
    position: absolute;
    opacity: 0;
}
.banList li a {
    display: block;
    width: 100%;
    overflow:hidden;
    position: relative;
    margin: 0 auto;
}
.banner img {
    width: 100%;
}
.btn-arrows {
    display: flex;
    justify-content: space-between;
    height: 860px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all ease .2s;
}
.banner:hover .btn-arrows {
    opacity: 1;
}
.btn-arrows span {
    position: absolute;
    top: 50%;
    margin-top: -45px;
    width: 50px;
    height: 90px;
    transition: all ease .2s;
}
.btn-arrow-left {
    background: url(../images/button-scrollarrow-left-gold-50@2x.png) no-repeat;
    background-size: contain;
    left: 0;
}
.btn-arrow-right {
    background: url(../images/button-scrollarrow-right-gold-50@2x.png) no-repeat;
    background-size: contain;
    right: 0;
}
.btn-arrows span:hover {
    cursor: pointer;
}
.btn-arrows span.closed {
    cursor: not-allowed;
}

.btn-arrows .preview {
    position: absolute;
    width: 202px;
    height: 90px;
    opacity: 0.9;
    padding: 8px;
    background-color: #22252d;
    transition: all ease .2s;
}
.btn-arrow-left .preview {
    left: 0;
    opacity: 0;
}
.btn-arrow-right .preview {
    right: 0;
    opacity: 0;
}
.btn-arrow-left:hover .preview {
    opacity: 0.9;
    left: 50px;
}
.btn-arrow-right:hover .preview {
    opacity: 0.9;
    right: 50px;
}

.btn-arrows .preview img {
    width: 186px;
    height: 51px;
}
.btn-arrows .preview p {
    color: #fff;
    text-align: left;  
    font-family: MicrosoftYaHei;
    font-size: 14px;
}
.banner .arrow{
    height: 60px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    top: 197px;
    display: none;
}
.banner .left{
    left: 0;
}
.banner .right{
    right: 0;
}
.banner-info {
    position: absolute;
    bottom: 0;
    z-index: 999;
    left: 50%;
    margin-left: -600px;
}
.news {
    padding: 0 10px 0 30px;
    height: 32px;
    line-height: 32px;
    background-color: #fffefe;
    position: relative;
    width: 100%;
    background: url(../images/bg-notionbar.png);
    background-size: contain;
}
.news .ico-news {
    width: 20px;
    height: 20px;
    padding-right: 10px;
    display: inline-block;
    background: url(../images/ico-news.png) no-repeat;
    background-size: contain;
}
.news .btn-more {
    text-align: center;
    width: 90px;
    background: url(../images/btn-news.svg) no-repeat center;
    background-size: contain;
    font-size: 14px;
    color: #ffffff;
}
#Marquee {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 100%; 
    padding-left: 10px;
    white-space: nowrap;
    display: inline-block;
    height: 100%;
    letter-spacing: -.35px;
    color: #67718f;
    cursor: pointer;
}
.playing-match {
    padding: 15px 30px;
    width: 440px;
    text-align: center;
    /*background: #d9dbe4;*/
    border-radius: 70px;
    margin-bottom: 30px;
    color: #333;
    font-size: 14px;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
.playing-match:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #d9dbe4;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);    
}
.playing-match p {
    line-height: 24px;
}
.match-detail {
    position: relative;
    z-index: 2;    
}
.playing-match .teamA,
.playing-match .teamB {
    color: #000;
    font-size: 16px;
    position: relative;
    z-index: 2;
}
.playing-match .teamA img,
.playing-match .teamB img {
    border: 6px solid #fff;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
}
.playing-match h6 {
    color: #000;
    font-size: 16px;
}




.page h2 {
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    color: #414755;
    margin-left: 30px;
}
.page .title {
    text-align: left;
    padding-top: 80px;
}
.hot-games .title {
    padding-top: 0;
}
.title-english {
    height: 82px;
}
.page .title p {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #878ea6;
    margin: 5px 0 0 0;
}
.page .title span {
    position: relative;
}
.page .title h2 span {
    position: relative;
    margin-left: 20px;
}
.page .title .left:after {
    content: '';
    width: 2px;
    height: 62px;
    background-color: #c0c8dc;
    position: absolute;
    right: -10px;
    top: 20px;
}
.hot-live .box {
    position: relative;
    z-index: 2;
}
.page .title .left {
    width: 100px;
    height: 100px;
    background-color: #e2e8f5;
    background-size: contain!important;
}
.hot-live .title .left {
    background: url(../images/icon-eventlive-100.png) no-repeat;
}
.app-download .title .left {
    background: url(../images/icon-app-download-100.png) no-repeat;
}
.hot-games .title .left {
    background: url(../images/icon-yabogames-100.png) no-repeat;
}
.best-service .title .left {
    background: url(../images/icon-excellent-service-100.png) no-repeat;
}
.page .title .right i {
    background-color: #e2e8f5;
    display: inline-block;
    width: 5px;
    height: 11px;
    margin-right: 5px;
    transform:skewX(45deg);
    -ms-transform:skewX(45deg);
    -moz-transform:skewX(45deg);
    -webkit-transform:skewX(45deg);
    -o-transform:skewX(45deg); 
}
.page .title h2 img {
    height: 28px;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.partner-list {
    margin:18px 0 0 0;
    justify-content: space-between;
}

.partner-list li {
    position: relative;
    width: 156px;
    height: 198px;
    overflow: visible;
    text-align: center;
    transition: all .5s ease;
}
.partner-list li:hover {
    transform: scale(1.1);
    transition: all .1s;    
}
.partner-list li .img {
    width: 72px;
    height: 72px;
    margin: 0 auto 15px;
    background: url(../images/sprite-partner.png.webp) no-repeat;
    background-size: 516px 72px;
}
.partner-list li:nth-child(1) .img {
    background-position: -296px 0px;    
}
.partner-list li:nth-child(2) .img {
    background-position: -444px 0px;
}
.partner-list li:nth-child(3) .img {
    background-position: -74px 0px; 
}
.partner-list li:nth-child(4) .img {
    background-position: -222px 0px;
    
}
.partner-list li:nth-child(5) .img {
    background-position: 0px 0px;   
}
.partner-list li:nth-child(6) .img {
    background-position: -370px 0px;    
}
.partner-list li:nth-child(7) .img {
    background-position: -148px 0px;    
}
.partner-list li p {
    line-height: 20px;
    margin: 0 auto;
}
.partner-list li a {
    padding-top: 30px;
    display: block;
    color: #32394f;
    font-size: 14px;    
    width: 100%;
    height: 100%;
    background: url(../images/bg-zanzhu.png) no-repeat;
    background-size: contain;
}
.btn-group {
    text-align: right;
}

.app-download {
    position: relative;
}
.hot-live .btn-group {
    position: absolute;
    right: 0;
    top: -135px;
}
 
.app-download .btn-group {
    position: absolute;
    right: 0;
    top: 140px;
}

.best-service .box,
.app-detail,
.match .box,
.bg-common {
    position: relative;
}
.hot-games .bg-common,
.hot-live .bg-common  {
    background: url(../images/bg-box_mid.png) no-repeat;
    background-position: 0 -24px;
    background-size: 100% 100%;
    position: relative;
}
.bg-common {
    margin-top: 60px;
}

.bg-common:after {
    bottom: -50px;
}

.hot-games .bg-common:before, 
.hot-games .bg-common:after,
.hot-live .bg-common:before, 
.hot-live .bg-common:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 116px;
    left: 0;
}
.hot-games .bg-common:before,
.hot-live .bg-common:before {
    background: url(../images/bg-box_top.png) no-repeat;
    background-size: 100%;
    top: -50px;
}
.hot-games .bg-common:after,
.hot-live .bg-common:after {
    background: url(../images/bg-box_bottom.png) no-repeat;
    background-size: 100%;
    border-radius: 0 0 20px 20px;
    background-position: 0 -28px;
}
.match .teams {
    justify-content: flex-start;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #67718f;
    position: relative;
    z-index: 4;
    margin-left: 260px;
}
.match h3 {
    background: url(../images/title-box-bg@2x.png.webp) no-repeat;
    background-size: contain;
    width: 600px;
    height: 44px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 0 30px;
    position: absolute;
    top: -65px;
    left: 190px;
}
.match .details {
    padding: 10px 40px 25px 40px;
    text-align: center;
    justify-content: space-between;
}
.match .details .right {
    max-height: 550px;
    overflow: hidden;
}
.details .left-box {
    width: 720px;
}
.dplayer-video-wrap .dplayer-video,
.details .videoBox {
    height: 405px!important;    
}
.details .left-box img {
    width: 100%;
    height: 100%;
}
 
.details .left-box .odds p {   
    color: #4a536f;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    margin: 0  0 15px 0;
}
.details .left-box li {
    margin: 0 20px;
    text-align: center;
    color: #7b849f;
    font-size: 12px;
}
.details .left-box li span {
    display: block;
    font-weight: bold;
    font-size: 18px;  
    color: #4a536f;
}
.details .left-box .odds .btn {
    border: none;
    margin-right: 0;
}
.details .odds {
    width: 705px;
    margin-top: 15px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.details .odds .item {
    border-right: solid 1px #e4d8d8;
}
.details .odds a {
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    font-weight: 100;
    display: block;
    width: 115px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 4px 12px 0 #ffe4c8;
}
.details .odds a:after,
.details .odds a:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    z-index: -1;
}
.details .odds a:after {
    width: 20px;
    height: 20px;
    left: auto;
    right: 0;
    top: 15px;    
    background: url(../images/icon-arrowwithcircle-right-20.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.match .details .right ul {
    width: 370px;
    padding-right: 10px;
    height: 560px;
}
.match .details .right ul::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.match .details .right ul::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #d2a87c;
}

.match .details .right ul::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.match .details .right li {
    overflow: hidden;
    margin-bottom: -2px;
    height: 106px;  
    border: solid 2px #e0e0e1;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.match .details .right li:last-child {
    margin-bottom: 0;
}
.match .details .right .loading {
    border: none!important;
    background: transparent;
    margin: 100px 0 0 0;
    color: #d7b897;
}
.match .details .right .active {
    border: 2px solid #d3b797;  
}
.match .details .right .active:before {
    content: "";
    position: absolute;
    top: 37px;
    left: -20px;
    display: block;
    border: 10px solid transparent;
    border-right-color: #d3b797;
}
.match .details .right  h4 {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    width: 280px;
    background-image: url('../images/backgroundimage-title-dark-25.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 10px;
    overflow: hidden;
}
.details .teams p img {
    width: 32px;
    height: 32px;
}
.details .live-area {
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: #878ea6;    
    margin: 10px 20px 0;
    justify-content: space-between;
}
.live-area .ico-video,
.live-area .ico-aimation {
    background-image: url(../images/sprite-live.png.webp);
    width: 20px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 86px 14px;
}
.live-area .ico-video {
    cursor: pointer;
    background-position: -66px 0;
    transition: all .2s ease;
}
.live-area .ico-aimation {   
    margin-left: 7px;
    cursor: pointer;
    background-position: -22px 0;
}
.live-area .ico-video:hover,
.details .active.ico-video {
    background-position: -44px 0;    
}

.live-area .ico-aimation:hover,
.details .active.ico-aimation {
    background-position: 0 0;
}


.hot-games {
    position: relative;
}

.hot-games .btn-group {
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    z-index: 6;
}
.hot-games .list {
    top: -90px;
}
.hot-games .btn-group button {
    width: 195px;
    height: 68px;    
    line-height: 58px;
    /*border: 1px solid #d9ddf2;*/
    border-bottom: none;
    border-top: none;
    margin: 0;
    background: url(../images/btn-game-mid.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.hot-games .btn-group button:first-child {
    background: url(../images/btn-game-left.png);
    background-repeat: no-repeat;   
    background-size: contain; 
    /*border: none;*/
}
.hot-games .btn-group button:last-child {
    background: url(../images/btn-game-right.png);
    background-repeat: no-repeat;    
    background-size: contain;
    /*border: none;*/
}
.hot-games .btn-group button:first-child.active {
    background: url(../images/btn-game-left-active.png);
    background-repeat: no-repeat;    
    background-size: contain;
}
.hot-games .btn-group button:last-child.active {
    background: url(../images/btn-game-right-active.png);
    background-repeat: no-repeat;    
    background-size: contain;
}
.hot-games .btn-group button.active {
    background: url(../images/btn-game-mid-active.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.match .details .teams {
    justify-content: space-between;
    margin: 0px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: normal;
    color: #878ea6;
}
.match .details .left-box .teams {
    justify-content: center;
    padding: 0;
    align-items: flex-end;
    position: relative;
}
.match .details .left-box .teams p {
    color: #fff;
    font-size: 14px;
    height: 48px;
}
.match .details .left-box .teams img {
    width: 35px;
    height: 35px;
}
.match .details .left-box .teams .score {
    font-family: DIN;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-image: url(../images/bg-score.png);
    background-size: cover;
    width: 141px;
    height: 57px!important;
}
.match .details .left-box .teams p:first-child {
    width: 349px;
    margin-right: 100px;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #a62626 3%, #464e68 81%);
}
.match .details .left-box .teams p:last-child {
    justify-content: flex-start;
    width: 350px;
    background-image: linear-gradient(to right, #464e68 3%, #0e5ecc 81%);
}
.match .details .left-box .teams p:first-child img {
    margin: 0 40px 0 20px;
}
.match .details .left-box .teams p:last-child img {
    margin: 0 20px 0 40px;
}
.match .details .teams p {   
    text-align: left;
    line-height: 14px;
    overflow: hidden;
    justify-content: flex-start;
}
.match .details .teams p:last-child {
    text-align: right;
    justify-content: flex-end;
}
.teams .score {
    padding: 0 18px;
    min-width: 87px;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #424a66;
}
.teams p img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    vertical-align: middle;
}
.teams span {
    background: url('../images/ico-vs.png');
    background-size: contain;
    width: 30px;
    height: 20px;
    font-size: 12px;
    text-indent: -9999px;
    text-align: center;
}
.tab-content .app-detail {
    display: none;
}
.tab-content .selected {
    display: flex;
}
.app-detail .left {
    /*width: 490px;*/
}
.app-detail .right {
    margin-left: 55px;
    width: 432px;
}

.app-detail h4 {
    font-size: 40px;
    font-weight: bold;
    color: #414755;
}
.app-detail h4 span {
    display: block;
    font-size: 14px;
    color: #67718f;
    margin: 10px 0 30px;
}
.app-detail p {
    line-height: 1.6;
    margin-top: 20px;
    font-size: 14px;
    color: #8b94ac;
}
.ercode-box {
    margin: 30px 0 0;
    text-align: center; 
    justify-content: space-between;
}
.ercode-box li p {
    width: 190px;
    height: 190px;
    padding-top: 25px;
    background-image: url(../images/bg-ercode.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #67718f;
}
.ercode-box li h5 {
    margin-top: 10px;
    font-size: 18px;
    color: #32394f;
}
.ercode-box li h6 {
    margin-top: 4px;
    font-size: 12px;
    color: #6a7391;
}
.ercode-box li h6 a {
    color: #85bfff;
}

 
.hot-games .left {
    width: 600px;
    height: 496px;
    margin-left: 40px;
}
.hot-games .left img {
    width: 100%;
    height: 100%;
}
.hot-games .box .right {
    width: 450px;
    margin: 150px 0 0 50px;
}
.hot-games .right h3 {
    font-size: 60px;
    font-weight: 500;
    color: #67718f;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, rgba(197, 160, 123, 0.24), rgba(255, 234, 213, 0.21) 98%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #f2ddc7, #cbab89);
    font-family: MicrosoftYaHei;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
    border: none;
    text-align: left;
}
.hot-games .right h4 {   
    text-align: left; 
    margin-top: 5px;
    opacity: 0.3!important;
    font-family: MicrosoftYaHei;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6a7391;
}
.hot-games .right p {
    line-height: 1.6;
    margin-top: 20px;
    font-size: 14px;
    color: #8b94ac;
    font-family: MicrosoftYaHei;
}
.hot-games .right  li {
    margin-top: 5px;
    cursor: pointer;
}
.hot-games .right ul p {
    position: relative;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    color: #6a7391;
}
.list {
    display: flex;
    height: 100%;
    position: absolute;
}
.app-download .app-detail .list {
    overflow: visible!important;
}
.app-download .app-detail {
    height: 590px;
    z-index: 1;    
    margin-top: 10px;
}
.app-download .app-detail img {
    width: 723px;
}
.hot-games .box {
    position: relative;
    display: flex;
    height: 482px;
    z-index: 1;    
}
.hot-games ._1addy6uf1nYJgRM1OlApnv .rebeat {
    opacity: 0!important;
}
.hot-games .rebeat {
    opacity: 1;
    position: absolute;
    right: 38px;
    top: 20px;
    width: 146px;
    height: 170px;
    padding-top: 38px;
    background-image: url(../images/image-lable-lighter-large.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.hot-games .rebeat h3 {  
    opacity: 0.5;
    font-family: PingFangSC;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4d5774;
}
.hot-games .rebeat h4 img {
    width: 90px;
    text-align: center;
    display: block;
    margin: 6px auto;
}
.hot-games .rebeat h4 span {
    font-size: 50px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4d5774;
}
.hot-games .rebeat h5 {  
    opacity: 0.5;
    font-family: HiraginoSansCNS-W6;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4d5774;    
}
.app-detail .left,
.app-detail .right,
.hot-games .left,
.hot-games .right {
    z-index: 1;
    opacity: 1;
}
.app-detail .left,
.hot-games .left {
    -webkit-animation: _3WqOmZhoics6w938o4yEFP .4s ease-in forwards;
    animation: _3WqOmZhoics6w938o4yEFP .4s ease-in forwards;
}
.app-detail .right,
.hot-games .right {
    -webkit-animation: caxiHhY0Fn4NIQVjQVlJu .4s ease-in forwards;
    animation: caxiHhY0Fn4NIQVjQVlJu .4s ease-in forwards;
}


._1addy6uf1nYJgRM1OlApnv .left,
._1addy6uf1nYJgRM1OlApnv .right {
    z-index: 0!important;
    opacity: 0!important;
}
._1addy6uf1nYJgRM1OlApnv .left {
    -webkit-animation: _1IKnPm9HHxw4XSAsmmX_NM .4s ease-out forwards!important;
    animation: _1IKnPm9HHxw4XSAsmmX_NM .4s ease-out forwards!important;
}
._1addy6uf1nYJgRM1OlApnv .right {
    -webkit-animation: _1m1bJEXvE1kWIE5edHfxc2 .4s ease-out forwards!important;
    animation: _1m1bJEXvE1kWIE5edHfxc2 .4s ease-out forwards!important;
}

.partner-list {
    -webkit-animation: fadeInUpMy .6s ease forwards;
    animation: fadeInUpMy .6s ease forwards;
}





















.hot-live .placeholder,
.hot-live .videoBox {
    background: #f7f3f3;
    border: none;
}

.hot-live .list,
.selected {
    display: flex;
    overflow: hidden!important;
    position: static;
}
.hot-live .list {
    z-index: 1;
    opacity: 1;    
}
.hot-games .right li i {
    justify-content: center;
    width: 72px;
    height: 78px;
    background: url(../images/spec-normal-new.png) no-repeat;
    background-size: contain;
}
.hot-games .right li i:after {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat; 
    background-position: -1px -5px;
}
.hot-games .right li:hover i {
    background: url(../images/spec-normal-new-active.png) no-repeat;
    background-size: contain;    
    animation: zoonInYb .5s ease forwards;
}
.nodata {
    text-align: center;
    margin: 66px 0 0 0;
}
.nodata img {
    width: 194px;
}
.nodata p {
    font-size: 12px;
    display: block;
    margin-top: 12px;
    line-height: 17px;
    color: #414755;
}
.nodata a {
    display: block;
    margin: 10px auto 0;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #d5b797;
    border: 1px solid #d5b797;
    text-decoration: none;
}

.ercodeAll,
.ercodeSports {
    margin-top: 15px;
    width: 134px;
    height: 134px;
    border: 2px solid #e8c198;    
}
.app-download .ercode-box {
    justify-content: flex-start;    
}
.app-download .ercode-box li {
    margin-right: 40px;  
}
.app-download .ercode-box p,
.app-download .ercodeAll,
.app-download .ercodeSports {
    margin-top: 0;
    border: none;    
}
.app-download .ercode-box canvas {
    background: url(../images/image-frame-qrcode@2x.png) no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    padding: 10px;
}


/*电子*/
.hot-games .right li .pg:after{background-image:url(../images/icons/icon-pg-golden@2x.png);background-size: contain;}
.hot-games .right li .by:after{background-image:url(../images/icons/icon-fishing-golden@2x.png);background-size: contain;}
.hot-games .right li .mg:after{background-image:url(../images/icons/icon-mg-golden@2x.png);background-size: contain;}
.hot-games .right li .pp:after{background-image:url(../images/icons/icon-pp-golden@2x.png);background-size: contain;}
.hot-games .right li .dt:after{background-image:url(../images/icons/icon-dt-golden@2x.png);background-size: contain;}
.hot-games .right li .pt:after{background-image:url(../images/icons/icon-ag-golden@2x.png);background-size: contain;}

.hot-games .right li:hover .pg:after{background-image:url(../images/icons/icon-pg-white@2x.png);background-size: contain;}
.hot-games .right li:hover .by:after{background-image:url(../images/icons/icon-fishing-white@2x.png);background-size: contain;}
.hot-games .right li:hover .mg:after{background-image:url(../images/icons/icon-mg-white@2x.png);background-size: contain;}
.hot-games .right li:hover .pp:after{background-image:url(../images/icons/icon-pp-white@2x.png);background-size: contain;}
.hot-games .right li:hover .dt:after{background-image:url(../images/icons/icon-dt-white@2x.png);background-size: contain;}
.hot-games .right li:hover .pt:after{background-image:url(../images/icons/icon-ag-white@2x.png);background-size: contain;}

/*真人*/
.hot-games .right li .bg:after{background-image:url(../images/icons/icon-big-game-golden@2x.png);background-size: contain;}
.hot-games .right li .ag:after{background-image:url(../images/icons/icon-ag-golden@2x.png);background-size: contain;}
.hot-games .right li .ebet:after{background-image:url(../images/icons/icon-ebet-golden@2x.png);background-size: contain;}
.hot-games .right li .og:after{background-image:url(../images/icons/icon-og-golden@2x.png);background-size: contain;}
.hot-games .right li .gd:after{background-image:url(../images/icons/icon-gd-golden@2x.png);background-size: contain;}
.hot-games .right li .bbin:after{background-image:url(../images/icons/icon-b-bin-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .bg:after{background-image:url(../images/icons/icon-big-game-white@2x.png);background-size: contain;}
.hot-games .right li:hover .ag:after{background-image:url(../images/icons/icon-ag-white@2x.png);background-size: contain;}
.hot-games .right li:hover .ebet:after{background-image:url(../images/icons/icon-ebet-white@2x.png);background-size: contain;}
.hot-games .right li:hover .og:after{background-image:url(../images/icons/icon-og-white@2x.png);background-size: contain;}
.hot-games .right li:hover .gd:after{background-image:url(../images/icons/icon-gd-white@2x.png);background-size: contain;}
.hot-games .right li:hover .bbin:after{background-image:url(../images/icons/icon-b-bin-white@2x.png);background-size: contain;}

/*棋牌*/
.hot-games .right li .ybqp:after{background-image:url(../images/icons/icon-big-game-golden@2x.png);background-size: contain;}
.hot-games .right li .gdqp:after{background-image:url(../images/icons/icon-gao-deng-golden@2x.png);background-size: contain;}
.hot-games .right li .syqp:after{background-image:url(../images/icons/icon-s-gboardgame-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .ybqp:after{background-image:url(../images/icons/icon-big-game-white@2x.png);background-size: contain;}
.hot-games .right li:hover .gdqp:after{background-image:url(../images/icons/icon-gaodeng-white@2x.png);background-size: contain;}
.hot-games .right li:hover .syqp:after{background-image:url(../images/icons/icon-s-gboardgame-white@2x.png);background-size: contain;}

/*体育*/
.hot-games .right li .ybty:after{background-image:url(../images/icons/icon-yabo-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .ybty:after{background-image:url(../images/icons/icon-yabo-white@2x.png);background-size: contain;}
.hot-games .right li .imty:after{background-image:url(../images/icons/icon-im-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .imty:after{background-image:url(../images/icons/icon-im-white@2x.png);background-size: contain;}

/*电竞*/
.hot-games .right li .imdj:after{background-image:url(../images/icons/icon-yabo-golden@2x.png);background-size: contain;}
.hot-games .right li .fydj:after{background-image:url(../images/icons/icon-avia-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .imdj:after{background-image:url(../images/icons/icon-yabo-white@2x.png);background-size: contain;}
.hot-games .right li:hover .fydj:after{background-image:url(../images/icons/icon-tcg-golden@2x.png);background-size: contain;}

/*彩票*/
.hot-games .right li .ybcp:after{background-image:url(../images/icons/icon-yabo-golden@2x.png);background-size: contain;}
.hot-games .right li .sycp:after{background-image:url(../images/icons/icon-sg-golden@2x.png);background-size: contain;}
.hot-games .right li .lbcp:after{background-image:url(../images/icons/icon-lb-golden@2x.png);background-size: contain;}
.hot-games .right li .kgcp:after{background-image:url(../images/icons/icon-kg-golden@2x.png);background-size: contain;}
.hot-games .right li .bbcp:after{background-image:url(../images/icons/icon-b-bin-golden@2x.png);background-size: contain;}
.hot-games .right li .tcgcp:after{background-image:url(../images/icons/icon-tcg-golden@2x.png);background-size: contain;}
.hot-games .right li:hover .ybcp:after{background-image:url(../images/icons/icon-yabo-white@2x.png);background-size: contain;}
.hot-games .right li:hover .sycp:after{background-image:url(../images/icons/icon-sg-white@2x.png);background-size: contain;}
.hot-games .right li:hover .lbcp:after{background-image:url(../images/icons/icon-lb-white@2x.png);background-size: contain;}
.hot-games .right li:hover .kgcp:after{background-image:url(../images/icons/icon-kg-white@2x.png);background-size: contain;}
.hot-games .right li:hover .bbcp:after{background-image:url(../images/icons/icon-b-bin-white@2x.png);background-size: contain;}
.hot-games .right li:hover .tcgcp:after{background-image:url(../images/icons/icon-tcg-white@2x.png);background-size: contain;}
 
/*按钮*/
.btn-group .ico-ft {background: url(../images/icon-soccer-darkblue-38.png) no-repeat;}
.btn-group .ico-bk {background: url(../images/icon-basketball-darkblue-38.png) no-repeat;}
.btn-group .ico-dj {background: url(../images/icon-esports-darkblue-38.png) no-repeat;}
.btn-group .ico-app-ty {background: url(../images/icon-soccer-darkblue-38.png) no-repeat;}
.btn-group .ico-app-all {background: url(../images/icon-dice-darkblue-38.png) no-repeat;}
.hot-games .ico-ty {background: url(../images/icon-sportsevents-selected.png) no-repeat;width: 48px!important;height: 48px!important;}
.hot-games .ico-ag {background: url(../images/icon-livecasino-selected.png) no-repeat;}
.hot-games .ico-qp {background: url(../images/icon-chessandpoker-selected.png) no-repeat;}
.hot-games .ico-dj {background: url(../images/icon-esports-selected.png) no-repeat!important;background-position: center!important;
    background-size: contain!important;}
.hot-games .ico-cp {background: url(../images/icon-lottery-selected.png) no-repeat;}
.hot-games .ico-dz {background: url(../images/icon-slotgame-selected.png) no-repeat;}


.btn-group .active .ico-ft {background: url(../images/icon-soccer-white-38.png) no-repeat center; background-size: contain;}
.btn-group .active .ico-bk {background: url(../images/icon-basketball-white-38.png) no-repeat center; background-size: contain;}
.btn-group .active .ico-dj {background: url(../images/icon-esports-white-38.png) no-repeat center; background-size: contain;}
.btn-group .active .ico-app-ty {background: url(../images/icon-soccer-white-38.png) no-repeat center; background-size: contain;}
.btn-group .active .ico-app-all {background: url(../images/icon-dice-white-38.png) no-repeat center; background-size: contain;}


 
.best-service {
    margin: 0 auto!important;
    padding: 80px 0 50px 0;
}
.best-service .box {
    padding: 0 35px 30px 35px;
    margin-top: 0;
}
.best-service ul {
    justify-content: space-between;
}
.best-service .top li {
    text-align: center;
    position: relative;
}
.best-service .top h5 {
    font-size: 16px;
    font-weight: 700;
    color: #32394f;
}
.best-service .top h6 {
    line-height: 1.4;
    margin: 10px auto;
    font-size: 12px;
    color: #7b849f;
}
.best-service .ico-plant{
    margin: 35px auto 0;
    width: 147px;
    height: 150px;
    background: url(../images/bg-circle.png) no-repeat;
    background-size: contain;
    position: relative;
} 

.ico-plant canvas {
    margin: 24px 0 0 0;      
}
.ico-plant label {
    color: #fff;
    position: absolute;
    right: 47px;
    bottom: 45px;
    font-size: 12px;
}
.ico-plant .progress {
    background-size: contain;
    position: absolute;
    transition: all ease .2s;
}
.ico-plant .progress-01 {
    top: 30px;
    left: 65px;
    width: 15px;
    height: 48px;
    background: url(../images/ico-pin.png) no-repeat;    
}
.ico-plant .progress-02,
.ico-plant .progress-03,
.ico-plant .progress-04 {
    background: url(../images/ico-pin-28.png) no-repeat;
    top: 33px;
    left: 65px;
    width: 30px;
    height: 48px;
}
.ico-plant p {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 85px;
    left: 55px;
}
.best-service .bottom {
    flex-wrap: wrap;    
}
.best-service .bottom li {
    width: 49%;
    margin-top: 20px;
    justify-content: space-between;
}

.best-service .bottom li .img {
    width: 107px;
    height: 107px;
}
.best-service .bottom li img {
    width: 100px;
    height: 100px;
    display: block;
}

.best-service .bottom li .text {
    margin-left: 10px;
}

.best-service .bottom li h6 {
    font-weight: 700;
    font-size: 16px;
    color: #32394f;
    font-family: MicrosoftYaHeiUI;
}

.best-service .bottom li p {
    line-height: 1.6;
    margin-top: 10px;
    font-size: 12px;
    color: #7e87a1;
}
.best-service li .circle {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -74px 0 0 -40px;
}
.circles-valueStroke,
.circles-maxValueStroke{
    stroke-dasharray: 4 1;
}
.circles-text span {
    font-size: 14px;
    margin-left: 2px;
}





/*balls*/

.icon,article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

img,legend {
    border: 0
}
 
*,::after,::before,:after,:before {
    box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
 
body {
    --color-text: #000;
    --color-bg: #ececec;
    --color-link: #000;
    --color-link-hover: #000;
    --color-info: #000;
    min-height: 100vh;
    color: #57585c;
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
} 
.content,main {
    position: relative;
    z-index: 2
}
.fl {
    float: left;
}
.fr {
    float: right;
}
[not-existing] {
    zoom: 1
}

:root {
    --scrollbar-size: 0
} 

body {
    max-height: 100%;
    max-width: 100%;
    /*overflow: hidden;*/
    padding: 0;
    margin: 0;
    /*cursor: none;*/
    background-attachment: fixed
}
 
.scroll-content {
    position: relative;
}
 




#luxy {
    position: absolute!important;
    top: 110px;
    width: 100%;
    height: 100%;
    z-index: 0;
    justify-content: space-between!important;         
}

#luxy img {
    width: 100%;  
}
#luxy .balls-left .luxy-el:nth-child(1) {
    width: 118px;
    margin-top: 55.278px;
    margin-left: 2.5vw;
}
#luxy .balls-left .luxy-el:nth-child(2) {
    width: 66px;
    margin-top: 210.067px;
    margin-left: 7.5vw;
}
#luxy .balls-left .luxy-el:nth-child(3) {
    width: 124px;
    margin-top: 196.278px;
    margin-left: 3.5vw;
}
#luxy .balls-left .luxy-el:nth-child(4) {
    width: 118px;
    margin-top: 493.145px;
    margin-left: 2.85vw;
}
#luxy .balls-left .luxy-el:nth-child(5) {
    width: 66px;
    margin-top: 449.67px;
    margin-left: 7.8vw;
}
#luxy .balls-left .luxy-el:nth-child(6) {
    width: 170px;
    margin-top: 497.18px;
    margin-left: 3.25vw;
}
#luxy .balls-left .luxy-el:nth-child(7) {
    width: 109px;
    margin-top: 480.74px;
    margin-left: 3.05vw;
}
#luxy .balls-left .luxy-el:nth-child(8) {
    width: 66px;
    margin-top: 1186.4px;
    margin-left: 4.2vw;
}
#luxy .balls-left .luxy-el:nth-child(9) {
    width: 133px;
    margin-top: 0;
    margin-left: 2.55vw;
}
#luxy .balls-left .luxy-el:nth-child(10) {
    width: 66px;
    margin-top: 486.17px;
    margin-left: 8.05vw;
}
#luxy .balls-left .luxy-el:nth-child(11) {
    width: 118px;
    margin-top: 486;
    margin-left: 4.1vw;
}
#luxy .balls-left .luxy-el:nth-child(12) {
    width: 66px;
    margin-top: 486;
    margin-left: 4.6vw;
}

#luxy .balls-right .luxy-el:nth-child(1) {
    width: 90px;
    margin-top: 41.3333px;
    margin-right: 2.75vw;
}
#luxy .balls-right .luxy-el:nth-child(2) {
    width: 66px;
    margin-top: 333.333px;
    margin-right: 3.25vw;
}
#luxy .balls-right .luxy-el:nth-child(3) {
    width: 90px;
    margin-top: 402.2px;
    margin-right: 5.85vw;
}
#luxy .balls-right .luxy-el:nth-child(4) {
    width: 66px;
    margin-top: 449.389px;
    margin-right: 1.2vw;   
}
#luxy .balls-right .luxy-el:nth-child(5) {
    width: 133px;
    margin-top: 759.11px;
    margin-right: 3.75vw;
}
#luxy .balls-right .luxy-el:nth-child(6) {
    width: 66px;
    margin-top: 410px;
    margin-right: 3.45vw;
}
#luxy .balls-right .luxy-el:nth-child(7) {
    width: 118px;
    margin-top: 685.56px;
    margin-right: 3vw;
}
#luxy .balls-right .luxy-el:nth-child(8) {
    width: 66px;
    margin-top: 455.53px;
    margin-right: 6.05vw;
}
#luxy .balls-right .luxy-el:nth-child(9) {
    width: 171px;
    margin-top: 240.5px;
    margin-right: 1.2vw;
}
#luxy .balls-right .luxy-el:nth-child(10) {
    width: 66px;
    margin-top: 331.53px;
    margin-right: 8.25vw;
}
#luxy .balls-right .luxy-el:nth-child(11) {
    width: 118px;
    margin-top: 416px;
    margin-right: 1.2vw;
}
#luxy .balls-right .luxy-el:nth-child(12) {
    width: 118px;
    margin-top: 750px;
    margin-right: 1.2vw;
}
 
 
.rotate {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
 













 






.footer {
    width: 100%;
    background-color: #3a415b;
    overflow: hidden;
    position: relative;
}
.foot-top {
    background-color: #434a63;
}
.foot-bottom {
    padding-top: 20px;
}
.foot-left {
    width: 860px;
}
.foot-partner {
    width: 380px;
    flex-flow: column;
    margin-left: 30px;
}
.foot-partner ul {
    margin-bottom: 14px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.foot-partner ul:last-child {
    margin-bottom: 0;
}
.foot-partner li {
    width: 20%;
}
.foot-partner ul li:last-child {
    width: 30px;
}
.foot-partner li img {
    width: 100%;
}
.foot-top .main {
    align-items: flex-start;
}
.footer .about {
  font-family: Microsoft Yahei;
  font-size: 14px;
  color: #6f7e9b;
  letter-spacing: 0;
  text-align: left;
  margin-top: 30px;
}
.footer .foot-top h5 {
  font-size: 16px;
  color: #8a9bb9;
  text-align: center;   
  margin: 30px auto; 
}

.footer .copyright {
  font-family: Microsoft Yahei;
  font-size: 12px;
  color: #728099;
  text-align: center;
  margin: 20px 0 50px 0;
}
 
.goverment {
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.goverment li {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goverment li i {
    background-size: contain;
}
.goverment li:nth-child(1) i {
    width: 115px;
    height: 42px;
    background-image: url(../images/db-commission.png);
    background-repeat: no-repeat;
}
.goverment li:nth-child(2) i {
    width: 166px;
    height: 42px;
    background-image: url(../images/db-mga.png);
    background-repeat: no-repeat;
}
.goverment li:nth-child(3) i {
    width: 176px;
    height: 42px;
    background-image: url(../images/db-fsc.png);
    background-repeat: no-repeat;
}
.goverment li:nth-child(4) i {
    width: 145px;
    height: 42px;
    background-image: url(../images/db-pagcor.png);
    background-repeat: no-repeat;
}
.goverment li p {
    font-size: 14px;
    color: #728099;
    margin-top: 40px;
}


.footer .partner-list {
    justify-content: center;    
}
.footer .partner-list li {
    width: auto;
    margin: 0 25px;
    transition: all ease .2s;
}
.footer .partner-list li a {
    background: none;
    color: #728099;
}
.footer .partner-list li:hover a {
    color: #9dafce;
}


.footer .partner-list li .img {
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: 100%!important;
}
.footer .partner-list li:nth-child(1) .img {
    background: url(../images/db-manlian.png) no-repeat center;
}
.footer .partner-list li:nth-child(2) .img {
    background: url(../images/db-yidali.png) no-repeat center;
}
.footer .partner-list li:nth-child(3) .img {
    background: url(../images/db-bairen.png) no-repeat center;
}
.footer .partner-list li:nth-child(4) .img {
    background: url(../images/db-laisite.png) no-repeat center;
}
.footer .partner-list li:nth-child(5) .img {
    background: url(../images/db-agenting.png) no-repeat center;
}
.footer .partner-list li:nth-child(6) .img {
    background: url(../images/db-monage.png) no-repeat center;
}
.footer .partner-list li:nth-child(7) .img {
    background: url(../images/db-bolin.png) no-repeat center;
}
.footer .partner-list li:nth-child(1):hover .img {
    background: url(../images/db-manlian-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(2):hover .img {
    background: url(../images/db-yidali-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(3):hover .img {
    background: url(../images/db-bairen-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(4):hover .img {
    background: url(../images/db-laisite-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(5):hover .img {
    background: url(../images/db-agenting-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(6):hover .img {
    background: url(../images/db-monage-2.png) no-repeat center;
}
.footer .partner-list li:nth-child(7):hover .img {
    background: url(../images/db-bolin-2.png) no-repeat center;
}
.footer .partner-list {
    margin-top: 0;
}
 
.nav-footer {
    display: flex;
    justify-content: center;
}
.nav-footer a {
    color: #9dafce;
    padding: 0 20px;
    transition: all ease .2s;
    font-size: 14px;
}
.nav-footer a:before {
    content: '';
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #9dafce;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.nav-footer a:hover {
    color: #fff;
}
.cQ_cj {
    line-height: 20px;
    font-size: 14px;
    color: #67718f;
    margin-top: 4px;
    text-align: center;
    font-weight: normal;
    display: block;
}
.cQ_ch {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #67718f;
    font-weight: normal;
    display: block;
}
.no-playing {
    display: block!important;
    text-align: left!important;
    margin-left: -310px!important;
}



[data-animation].animated {
    opacity: 1;
}
[data-animation] {
    opacity: 0;
}

.fast {
    -vendor-animation-duration: .2s;
    -vendor-animation-delay: 0s;
}
.slow {
    -vendor-animation-duration: .5s;
    -vendor-animation-delay: .4s;
}
.reallyslow {
    -vendor-animation-duration: 8s;
    -vendor-animation-delay: .4s;
}